

.formControl.error input,
.formControl.error textarea {
    border: solid red 2px;
}

.formControl.error span {
    color: red;
}

.fromSummeryError {
    border: 2px solid red;
    padding: 5px;
    color: rgb(245, 72, 72);
    display: inline-block;
}