.info {
  padding: 10px;
}
.contacts {
  margin-left: 20px;
}

.mainPhoto {
  max-width: 200px;
}

.contact {
  padding-left: 20px;
}
.fromSummeryError {
  border: 2px solid red;
  padding: 5px;
  color: rgb(245, 72, 72);
  display: inline-block;
}
