.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  
}
.dialogs__items {
  padding: 10px;
  color: red;
}
.dialog.active {
  color: gold;
}
.dialog {
  padding: 10px;
}

.messages {
  color: white;
}
.messages textarea{
  width: 99.5%;
}
.message {

}