.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  
}
.dialogItem {
  padding: 10px;
  color: white;
}
.dialog.active {
  color: gold;
}
.dialog {
  padding: 10px;
}

.messages {
  color: white;
}
.message {

}